.about {
  background-image: url(../img/about-bg.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 38rem;
  width: 70%;
  display: block;
  margin: 10rem auto 0 auto;
  border-radius: 30px;
  padding: 7rem;
  z-index: 222; }

.about h1 {
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  padding-bottom: 2rem; }

.about h3 {
  font-weight: 300;
  display: block;
  padding-bottom: 1rem; }

.about p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.72); }

.submit {
  height: 33rem;
  background-color: #535767;
  color: rgba(255, 255, 255, 0.83);
  display: block;
  margin-top: -12rem;
  position: relative;
  z-index: -222; }

.submit h3 {
  text-align: center;
  display: block;
  padding: 15rem 0 .5rem 0;
  font-size: 3rem;
  color: #3d9cd4;
  font-weight: 600; }

.submit p {
  width: 40%;
  margin: 0 auto;
  display: block;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  overflow-x: hidden; }

body {
  background-color: #f2f4f6; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  margin-bottom: .6rem;
  margin-top: 0;
  display: block;
  font-family: "Open Sans",sans-serif; }

h1 {
  font-size: 40px;
  font-size: 2.5rem; }

h2 {
  font-size: 36px;
  font-size: 2.25rem; }

h3 {
  font-size: 30px;
  font-size: 1.875rem; }

h4 {
  font-size: 28px;
  font-size: 1.75rem; }

h5 {
  font-size: 22px;
  font-size: 1.375rem; }

h6 {
  font-size: 18px;
  font-size: 1.125rem; }

p {
  margin-bottom: 1.3em;
  margin-top: 0; }

.header-wrap {
  height: 195px;
  width: 100vw;
  background-color: #fff; }

.header-wrap img {
  max-width: 60px; }

.logo {
  height: auto; }

.header-wrap,
.header-inner {
  margin-left: 1rem; }

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 4rem 0; }

.header-inner {
  margin-top: 1.7rem; }

.header-inner h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  color: #43485b; }

.header-inner p {
  font-size: 1.7rem;
  color: #c873b7;
  font-weight: 400; }

.welcome-wrap {
  height: 35rem; }

.welcome-heading {
  color: #c873b7;
  text-transform: uppercase;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  display: block;
  line-height: 2.2;
  font-weight: 700; }

.welcome-wrap p {
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  top: 48%;
  font-weight: 600;
  color: #43485b; }

.work {
  padding: 1rem 2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.7rem;
  background-color: #c873b7;
  border-radius: 100px;
  border: none;
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translateX(-50%); }

footer {
  height: 10rem;
  background-color: #424655;
  padding: 5rem; }

ul {
  width: 40%;
  margin: 0 auto;
  /* display: grid;
    grid-template-columns: repeat(4, 1fr);
	align-items: center;
	justify-content: center;*/
  text-align: center;
  list-style-type: none;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.89); }

li {
  display: inline; }

li::after {
  content: "";
  width: 1px;
  height: 1rem;
  background-color: #535767;
  display: inline-block;
  margin: 0 1rem; }

#more:after {
  background-color: #424655; }

.help {
  height: 55rem;
  background-image: url("../img/services-bg.jpg");
  background-size: cover;
  background-position: bottom; }

.help-heading {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 3.7rem;
  display: block;
  line-height: 2.2;
  padding-top: 5rem;
  font-weight: 400; }

.card-container {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  margin: 0 5rem 0 13rem;
  color: #fff; }

.card-container img {
  width: 5rem;
  height: 5rem; }

.card-container h3 {
  font-size: 1.5rem;
  display: block;
  padding: 2rem 0;
  text-transform: uppercase; }

.card-container p {
  width: 80%;
  font-size: 1.5rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.71); }

.card-container a:link,
.card-container a:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600; }

a:after {
  display: block;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.71);
  content: "";
  width: 80px;
  margin-left: .3rem; }

.work-container {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin: 0 10rem; }

.work-heading {
  color: #c873b7;
  text-transform: uppercase;
  text-align: center;
  font-size: 3.5rem;
  display: block;
  line-height: 2.2;
  font-weight: 600;
  padding-top: 5rem; }

.asset {
  background-color: #fff; }

.asset h3 {
  color: #3d9cd4;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 2rem 0 0 3rem; }

#book {
  position: relative;
  top: -4rem; }

.para {
  margin-top: -4rem; }

.asset p {
  padding: 2rem 0 0 3rem;
  font-size: 1.6rem;
  width: 90%;
  color: #43485b; }

.asset a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: #c873b7;
  padding: 3rem; }

.promo {
  color: #fff;
  padding: 1rem 2rem;
  display: inline-block;
  background-color: #3d9cd4;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  top: -4.6rem; }
